<div class="body">
    <div class="wrapper">
        <input type="radio" name="slider" id="table-1">
        <input type="radio" name="slider" id="table-2" checked>
        <input type="radio" name="slider" id="table-3">
        <header>
            <label for="table-1" class="table-1">Basic</label>
            <label for="table-2" class="table-2">Standard</label>
            <label for="table-3" class="table-3">Premium</label>
            <div class="slider"></div>
        </header>

        <div class="card-area">
             <div class="cards">
                <div class="row row-1">
                    <div class="pricing">
                        <span>14.99</span>
                        <p>For begginers</p>
                    </div>
                    <ul class="features">
                        <li><fa-icon class="icon" [icon]="faCheck"></fa-icon><span>Over 100 hours of Streaming</span></li>
                        <li><fa-icon class="icon" [icon]="faCheck"></fa-icon><span>Subscriptions for 5000 streamers</span></li>
                        <li><fa-icon class="icon" [icon]="faCheck"></fa-icon><span>Battle pass for Fornite New Season</span></li>                        
                    </ul>
                </div>

                <div class="row">
                    <div class="pricing">
                        <span>34.99</span>
                        <p>For Amateurs</p>
                    </div>
                    <ul class="features">
                        <li><fa-icon class="icon" [icon]="faCheck"></fa-icon><span>Over 300 hours of Streaming</span></li>
                        <li><fa-icon class="icon" [icon]="faCheck"></fa-icon><span>Subscriptions for 7000 streamers</span></li>
                        <li><fa-icon class="icon" [icon]="faCheck"></fa-icon><span>Battle pass for Fornite New Season</span></li>   
                        <li><fa-icon class="icon" [icon]="faCheck"></fa-icon><span>Cyber Punk 2077 Open Tour</span></li>                      
                    </ul>
                </div>

                <div class="row">
                    <div class="pricing">
                        <span>54.99</span>
                        <p>For Stream Lovers</p>
                    </div>
                    <ul class="features">
                        <li><fa-icon class="icon" [icon]="faCheck"></fa-icon><span>Over 500 hours of Streaming</span></li>
                        <li><fa-icon class="icon" [icon]="faCheck"></fa-icon><span>Subscriptions for 10000 streamers</span></li>
                        <li><fa-icon class="icon" [icon]="faCheck"></fa-icon><span>Battle pass for Fornite New Season</span></li> 
                        <li><fa-icon class="icon" [icon]="faCheck"></fa-icon><span>Cyber Punk 2077 Open Tour</span></li> 
                        <li><fa-icon class="icon" [icon]="faCheck"></fa-icon><span>Dota 2 International Pass</span></li>                        
                    </ul>
                </div>
             </div>
        </div>
        <button class="submit-btn">Choose Plan</button>
    </div>   
</div> 