<nav class="navbar navbar-expand-lg navbar-dark fixed-top" [style.background-color]="mode ? '#f0f2f4':'#1b2028'">

    <button class="navbar-toggler d-flex flex-column justify-content-around" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation" (click)="OnClickEvent()" [ngClass]="opened? '':'collapsed'">
        <span class="toggler-icon top-bar" [style.background-color]="mode?'#d08830':'#860caf'"></span>
        <span class="toggler-icon middle-bar" [style.background-color]="mode?'#d08830':'#860caf'"></span>
        <span class="toggler-icon bottom-bar" [style.background-color]="mode?'#d08830':'#860caf'"></span>
    </button>


    <div id="navbarNavAltMarkup"></div>

    <div class="navbar-links">
        <div class="nav-link-base">
            <a class="nav-link" [style.color]="mode ? '#505050':'white'" [routerLink]="['/']" >
                Home
            </a>
        </div>
        <div class="nav-link-base">
            <a class="nav-link" [style.color]="mode ? '#505050':'#f0f2f4'"[routerLink]="['/stream/streams']">
                Streams
            </a>
        </div>
        <div class="nav-link-base">
            <a class="nav-link" [style.color]="mode ? '#505050':'#f0f2f4'" [routerLink]="['/party/parties']">
                Party
            </a>
        </div>
        <div class="nav-link-base">
            <a class="nav-link" [style.color]="mode ? '#505050':'#f0f2f4'" [routerLink]="['/premium/pricing']">
                Premium
            </a>
        </div>
    </div>


    <div class="nav-brand">        
        <h1 class="brand-link" [style.color]="mode ? '#505050':'#f0f2f4'">Gamor</h1>                
    </div>
    

    <div class="user-section" *ngIf="!user">
        <div class="nav-user">
            <div class="userOP">
                <a class="user-link" id="userL" [style.color]="mode ? '#505050':'#f0f2f4'" href="
                https://id.twitch.tv/oauth2/authorize?response_type=token&client_id=683flemowotj1459z7x1qrbpqrom4p&redirect_uri=http://localhost:4200/user/login&scope=channel%3Amanage%3Apolls+channel%3Aread%3Apolls">
                    Sign In
                </a>
            </div>
            <div class="userOp user-reg" [style.background-color]="mode ? '#1b2028':'#f0f2f4'">
                <a class="user-link" id="userR" [routerLink]="['/user/register']" [style.color]="mode ? '#f0f2f4':'#505050'">
                    Create Account
                </a>
            </div>
        </div>
    </div>

    <div class="selector">
        <button class="btn-switch" (click)="changeMode()">
            <div class="switchCircle" [style.background-color]="mode ? '#1b2028':'#f0f2f4'">
                <fa-icon class="modeIcon" [icon]="faIcon" [style.color]="mode ? '#f0f2f4':'#1b2028'"></fa-icon>
            </div>
        </button>
    </div>
    

</nav>


<mat-sidenav-container [style.background-color]="mode ? '#f0f2f4':'#1b2028'">
    <mat-sidenav [(opened)]="opened" [style.background-color]="mode ? '#f0f2f4':'#1b2028'">
        <ul class="navbar-nav me-auto mt-5 mb-2 mb-lg-0 align-items-center">
            <li class="nav-item">
                <a class="nav-link active " aria-current="page" [routerLink]="['/home']" [style.color]="mode ? '#505050':'#f0f2f4'">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active " [routerLink]="['/stream/streams']" [style.color]="mode ? '#505050':'#f0f2f4'">Streams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active " [routerLink]="['/party/parties']" [style.color]="mode ? '#505050':'#f0f2f4'">Party</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active " [routerLink]="['/premium/pricing']" [style.color]="mode ? '#505050':'#f0f2f4'">Premium</a>
            </li>
        </ul>
        <div class="nav-user-board" *ngIf="!user">
            <div class="userOP">
                <a class="user-link" id="userLink" [style.color]="mode ? '#505050':'#f0f2f4'" href="
                https://id.twitch.tv/oauth2/authorize?response_type=token&client_id=683flemowotj1459z7x1qrbpqrom4p&redirect_uri=http://localhost:4200/user/login&scope=channel%3Amanage%3Apolls+channel%3Aread%3Apolls">
                    Sign In
                </a>
            </div>
            <div class="userOp user-reg" id="nav-btn" [style.background-color]="mode ? '#1b2028':'#f0f2f4'">
                <a class="user-link" id="userR" [routerLink]="['/user/register']" [style.color]="mode ? '#f0f2f4':'#505050'">
                    Create Account
                </a>
            </div>
        </div>

    </mat-sidenav>


    <!---Main Board-->
    <div class="mainBoard">
        <div class="user-streaming" [style.background-color]="mode ? '#ffff':'#21272f'">
            <div class="streaming-header">
                <h1 [style.color]="mode ? '#505050':'#f0f2f4'">start</h1>
                <h1 [style.color]="mode ? '#d08830':'#860caf'">streaming</h1>
                <h1 [style.color]="mode ? '#505050':'#f0f2f4'">games</h1>
                <h1 [style.color]="mode ? '#505050':'#f0f2f4'">differently</h1>
            </div>
            <p [style.color]="mode ? '#505050':'#f0f2f4'">gamor now has <a class="stream-link" [routerLink]="['/party']" [style.color]="mode ? '#505050':'#f0f2f4'">stream party</a> platform
            </p>
            <div class="nav-user" *ngIf="!user">
                <div class="userOp user-reg-Op" [style.background-color]="mode ? '#1b2028':'#f0f2f4'">
                    <a class="user-link" id="userROp" [routerLink]="['/user/register']" [style.color]="mode ? '#f0f2f4':'#505050'">
                        Create Account
                    </a>
                </div>
                <div class="userOP">
                    <a class="user-link" id="userL" [style.color]="mode ? '#505050':'#f0f2f4'" href="
                    https://id.twitch.tv/oauth2/authorize?response_type=token&client_id=683flemowotj1459z7x1qrbpqrom4p&redirect_uri=http://localhost:4200/user/login&scope=channel%3Amanage%3Apolls+channel%3Aread%3Apolls">
                        Sign In
                    </a>
                </div>
            </div>
            <div class="streaming-header" *ngIf="user">
                <h1 class="welcomeMsg">Welcome back {{user}}!</h1>
            </div>
        </div>


        <div class="anouncement" [style.background-color]="mode ? '#7e34ee':'#d08830'">
            <h3 class="anouncement-title">Fornite New Season</h3>
            <p class="anouncement-sub" [style.color]="mode ? '#5d0a79':'#db6923'" >Join Live Stream</p>
            <div class="images-wrapper">
                <div class="icon-wrapper" [style.box-shadow]="mode ? '2px 2px 3px 4px rgba(53, 24, 160, 0.2)': '2px 2px 3px 4px rgba(160, 106, 24, 0.2)'">
                    <fa-icon [icon]="faUserPlus" class="tempIcon"></fa-icon>
                </div>
            </div>
            <div class="tempor">
                <h3 class="season-time" [style.color]="mode ? '#860caf':'#d08830'" >11:45</h3>
            </div>
            <div class="images-wrapper">
                <div class="small-img left-image" [style.box-shadow]="mode ? '2px 2px 3px 4px rgba(53, 24, 160, 0.2)': '2px 2px 3px 4px rgba(160, 106, 24, 0.2)'">
                    <img class="small" src={{leftImg}}>
                </div>
                <div class="left-image-icon" *ngIf="mode" [style.box-shadow]="mode ? '2px 2px 3px 4px rgba(53, 24, 160, 0.2)': '2px 2px 3px 4px rgba(160, 106, 24, 0.2)'">
                    <fa-icon [icon]="faEye"></fa-icon>
                </div>

                <img class=" season-image" src={{imgAdd}} alt="light-image" [style.margin-top]="mode? '0px': '-20px'">

                <div class="small-img right-image" [style.box-shadow]="mode ? '2px 2px 3px 4px rgba(53, 24, 160, 0.2)': '2px 2px 3px 4px rgba(160, 106, 24, 0.2)'">
                    <img class="small" src={{rightImg}}>
                </div>
                <div class="right-image-icon" *ngIf="!mode" [style.box-shadow]="mode ? '2px 2px 3px 4px rgba(53, 24, 160, 0.2)': '2px 2px 3px 4px rgba(160, 106, 24, 0.2)'">
                    <fa-icon [icon]="faShield"></fa-icon>
                </div>
            </div>
        </div>

        <div class="search" [style.background-color]="mode ? '#ffff':'#21272f'">
            <div class="platform">
                <h1 class="platformIndex">01. </h1>
                <h1 class="platformCategory" [style.color]="mode ? '#505050':'#f0f2f4'">Choose Platform</h1>
            </div>
            <div class="wrapper" >
                <input type="radio" name="slider" id="table-1" value="Games" #slider="ngModel" [(ngModel)]="searchEl.key">
                <input type="radio" name="slider" id="table-2" value="Streamers" #slider="ngModel" [(ngModel)]="searchEl.key" checked>
                <input type="radio" name="slider" id="table-3" value="Sports" #slider="ngModel" [(ngModel)]="searchEl.key">
                <header >
                    <label for="table-1" class="table-1" ><fa-icon [icon]="faParty" ></fa-icon>Games</label>
                    <label for="table-2" class="table-2" ><fa-icon [icon]="faMatch" ></fa-icon>Streamers</label>
                    <label for="table-3" class="table-3" ><fa-icon [icon]="faStream"></fa-icon>Sports</label>
                    <div class="slider" [style.background-color]="mode ? '#7e34ee':'#d08830'"></div>
                </header>
            </div>

            <div class="game">
                <h1 class="platformIndex">02. </h1>
                <h1 class="platformCategory" [style.color]="mode ? '#505050':'#f0f2f4'">Lets search {{searchEl.key}} </h1>
            </div>
            <div class="game-stream" [style.background-color]="mode ? '#ffff':'#21272f'">                
                    <select class="video-selector" *ngIf="searchEl.key=='Games'" #selector="ngModel" [(ngModel)]="searchEl.name" [style.background-color]="mode ? '#ffff':'#21272f'" [style.color]="mode ? '#860caf':'#d08830'">
                        <option disabled>Select videogame</option>
                        <option value="cod">Call of Duty: MW3</option>
                        <option value="fnt">Fornite</option>
                        <option value="dot">Dota 2</option>                        
                        <option value="asc">Assasains Creed</option>
                    </select> 
                    <select class="video-selector" *ngIf="searchEl.key=='Streamers'" #selector="ngModel" [(ngModel)]="searchEl.name" [style.background-color]="mode ? '#ffff':'#21272f'" [style.color]="mode ? '#860caf':'#d08830'">
                        <option disabled>Select streamer</option>
                        <option value="aup">Auronplay</option>
                        <option value="nin">Ninja</option>
                        <option value="iba">Ibai</option>
                        <option value="rub">Rubius</option>                        
                    </select>
                    <select class="video-selector" *ngIf="searchEl.key=='Sports'" #selector="ngModel" [(ngModel)]="searchEl.name" [style.background-color]="mode ? '#ffff':'#21272f'" [style.color]="mode ? '#860caf':'#d08830'">
                        <option disabled>Select clip thema</option>
                        <option value="bsk">Basketball</option>
                        <option value="bas">Baseball</option>
                        <option value="kl">Kings League</option>
                        <option value="fot">Football</option>                       
                    </select>            
            </div>
            <div class="streamers" [style.background-color]="mode ? '#ffff':'#21272f'">                              
                <ul class="gamers" *ngFor="let gamer of gamers; let i = index">
                    <li>
                        <a class="gamers-link" href={{gamer.path}} [style.color]="mode ? '#860caf':'#d08830'">{{i+1}} {{gamer.title}}</a>                      
                    </li>                    
                </ul>
                <button class="btn search-btn" (click)="searchGamers()" [style.background]="mode? 'linear-gradient(#6c1ae6 0%, #7e34ee 100%)': 'linear-gradient(#cf750d 0%, #d08830 100%)' ">Search Now</button>
            </div>

        </div>
    </div>
    <!--End of Main Board-->


    <!--Trending Categories-->
        <div class="trend">
            <div class="header-wrapper">
                <h1 class="trend-header" [style.color]="mode ? '#d08830':'#860caf'">Trending Categories</h1>
            </div>            
            <div class="container">
                <div class="row">
                    <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-3" *ngFor="let category of categories; let i = index">
                        <div class="card"  [style.background-color]="mode ? '#ffff':'#21272f'">
                            <app-card [mode]="mode" [name]="category.name" [index]="i" [image]="category.img" ></app-card>
                        </div> 
                    </div>                    
                </div>
            </div>
        </div>       
                   
        
        
    <!--End of Trending Categories-->
   